@import url(http://fonts.googleapis.com/css?family=Questrial);

body {
  font-family: 'Questrial', sans-serif;
}

todo-list {
  display:block;
}

todo-list todo-item {
  display: list-item;
  font-size: 23px;
  line-height: 1.4em;
}

todo-list todo-item::shadow input:disabled + label {
  text-decoration: line-through;
}

